USE [master]
GO
/****** Object:  Database [SensorMonitoringSystem]    Script Date: 25.12.2017 12:23:03 ******/
CREATE DATABASE [SensorMonitoringSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SensorMonitoringSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.DEVICE01\MSSQL\DATA\SensorMonitoringSystem.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SensorMonitoringSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.DEVICE01\MSSQL\DATA\SensorMonitoringSystem_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SensorMonitoringSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SensorMonitoringSystem]
GO
/****** Object:  Schema [SystemMaster]    Script Date: 25.12.2017 12:23:03 ******/
CREATE SCHEMA [SystemMaster]
GO
/****** Object:  StoredProcedure [SystemMaster].[DataRegistration]    Script Date: 25.12.2017 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SystemMaster].[DataRegistration]
(
@OkunanDeger as decimal(5,2), @OkunanDegerZamani as datetime, @SensorID as int
)
AS
INSERT INTO SystemMaster.[SensorsDatas]([ReadValue],[ReadValueTime],[SensorID])
VALUES (@OkunanDeger,@OkunanDegerZamani,@SensorID)

GO
/****** Object:  StoredProcedure [SystemMaster].[SensorRegistration]    Script Date: 25.12.2017 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SystemMaster].[SensorRegistration]
(
@KurumID as int, @SensorTipi as nvarchar (30), @SensorAdresi as nvarchar(200), 
@KucukGrafikDegeri as int, @BuyukGrafikDegeri as int,
@KucukKritikDegeri as decimal(5,2), @BuyukKritikDegeri as decimal(5,2),
@SensorBirimi as nvarchar(10),@SensorTuru as bit
)
AS
INSERT INTO SystemMaster.[Sensors](
[CompanyID],[SensorDescription],[SensorAddress],[GraphicalMinValue],
[GraphicalMaxValue],[LowestCriticalValue],[HighestCriticalValue],[SensorUnit],[IsSpecificSensor])
VALUES (
@KurumID,@SensorTipi,@SensorAdresi,@KucukGrafikDegeri,
@BuyukGrafikDegeri,@KucukKritikDegeri,@BuyukKritikDegeri,@SensorBirimi,@SensorTuru)

GO
/****** Object:  Table [SystemMaster].[Companies]    Script Date: 25.12.2017 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SystemMaster].[Companies](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SystemMaster].[Sensors]    Script Date: 25.12.2017 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SystemMaster].[Sensors](
	[SensorID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[SensorDescription] [nvarchar](30) NOT NULL,
	[SensorAddress] [nvarchar](200) NOT NULL,
	[GraphicalMinValue] [int] NOT NULL,
	[GraphicalMaxValue] [int] NOT NULL,
	[LowestCriticalValue] [decimal](5, 2) NOT NULL,
	[HighestCriticalValue] [decimal](5, 2) NOT NULL,
	[SensorUnit] [nvarchar](10) NOT NULL,
	[IsSpecificSensor] [bit] NOT NULL
PRIMARY KEY CLUSTERED 
(
	[SensorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SystemMaster].[SensorsDatas]    Script Date: 25.12.2017 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SystemMaster].[SensorsDatas](
	[DataID] [int] IDENTITY(1,1) NOT NULL,
	[SensorID] [int] NOT NULL,
	[ReadValue] [decimal](5, 2) NOT NULL,
	[ReadValueTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SystemMaster].[Users]    Script Date: 25.12.2017 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SystemMaster].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[Password] BINARY(64) NOT NULL,
	[PasswordKey] UNIQUEIDENTIFIER NOT NULL,
	[IsActivated] [bit] NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[RegistrationCode] [bigint] NOT NULL,
	[UserType] [nvarchar](30) NOT NULL
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SystemMaster].[UsersDetails]    Script Date: 25.12.2017 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SystemMaster].[UsersDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[City] [nvarchar](60) NOT NULL,
	[District] [nvarchar](90) NOT NULL,
	[Adress] [nvarchar](200) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SystemMaster].[Countries]    Script Date: 25.12.2017 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SystemMaster].[Countries] (
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](47) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SystemMaster].[Cities]    Script Date: 25.12.2017 12:23:03 ******/
CREATE TABLE [SystemMaster].[Cities] (
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CountryID] [int] NOT NULL,
	[CityName] [nvarchar](59) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SystemMaster].[Cities]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [SystemMaster].[Countries] ([CountryID])
GO
/****** Object:  UserDefinedFunction [SystemMaster].[DatasBetweenDates]    Script Date: 25.12.2017 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [SystemMaster].[DatasBetweenDates]
(
@SensorID as int,@Date1 as datetime, @Date2 as datetime
)
RETURNS TABLE
AS
	RETURN
(
	SELECT TOP 100 PERCENT [DataID],[SensorID],[ReadValue],[ReadValueTime] FROM SystemMaster.[SensorsDatas] WHERE [SensorID] = @SensorID AND 
	[ReadValueTime] BETWEEN @Date1 AND @Date2 ORDER BY [ReadValueTime] ASC
)

GO
ALTER TABLE [SystemMaster].[Sensors]  WITH CHECK ADD FOREIGN KEY([CompanyID])
REFERENCES [SystemMaster].[Companies] ([CompanyID])
GO
ALTER TABLE [SystemMaster].[SensorsDatas]  WITH CHECK ADD FOREIGN KEY([SensorID])
REFERENCES [SystemMaster].[Sensors] ([SensorID])
GO
ALTER TABLE [SystemMaster].[Users]  WITH CHECK ADD FOREIGN KEY([CompanyID])
REFERENCES [SystemMaster].[Companies] ([CompanyID])
GO
ALTER TABLE [SystemMaster].[UsersDetails]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [SystemMaster].[Users] ([UserID])
GO
USE [master]
GO

INSERT INTO [SystemMaster].[UserTypes] VALUES ('System Admin')
INSERT INTO [SystemMaster].[UserTypes] VALUES ('Company Owner')
INSERT INTO [SystemMaster].[UserTypes] VALUES ('Technical User')
